.u-content-text{
    text-align:center !important;
}
.u-margin-bt{
    z-index: 1000;
    margin-bottom: 8rem !important;
}
.u-margin-bt-klein{
    margin-bottom:2rem !important;
}
.u-margin-tp{
    margin-bottom: 8rem !important; 
}
.u-margin-left{
    margin-left:-1rem !important;
}
.u-margin-top1{
    margin-top:3rem;
}
