//main varible

$color-primary-imag-Light-green-right:rgba(44, 68, 35, 0.822);
$color-premary-image-Light-green-left:rgba(14, 138, 24, 0.527);
$clor-section-gray-1:#f7f7f7;
$color-premary:#777;
$gride-color-background: #eee;
//image color
$frabe-eni-schwarz:#000;
$frabe-eins-schwarz-schwer:#333;
$frabe-footer-logo:rgba(11, 112, 28, 0.938);
//botton

$frabe-ein-leicht-grün:rgba(44, 102, 22, 0.822);
$frabe-ein-shwer-gün:rgba(14, 126, 23, 0.527);
$frabe-ein-wieße:#eee;
$frabe-ein-gün:rgba(26, 184, 39, 0.527);
$farbe-background-eins:#8DE676;
$farbe-background-zwei:#71DA7E;
//grid varible
$gride-paddin:20rem;
$gide-width :114rem;
$gide-vertical:8rem;//3amody
$gride-horisontale:6rem;//Ofoky
